/*google font*/
@import url('https://fonts.googleapis.com/css?family=Dosis:300,600');



/*standard html elements*/
body{
	font-family: 'Dosis', sans-serif;
	background-color: #eaeaea;
}
header{
	background-color: #2C3E50;
	height: 60px;
}
h1{
	font-size: 2.2em;
	font-weight: 300;
	letter-spacing: 3px;
	color: #E74C3C;
	float: left;
	padding-left: 40px;
	padding-top: 10px;
}
form{
	float: right;
	padding-top: 8px;
	padding-right: 60px;
}
strong{
	font-weight: 600;
}
input{
	border: none;
	outline: none;
	transition: 1s;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	font-size: 1em;
	letter-spacing: 1px;
	background-color: #3B536B;
	padding: 7px;
	padding-left: 13px;
	border-radius: 8px 0px 0px 8px;
	width: 150px;
	margin-right: 0px;
}
input:hover{
	background-color: #4C6B8A;
}
input:focus{
	transition: 1s;
	width: 220px;
	background-color: #45617D;
}
form button{
	border: none;
	outline: none;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	font-size: 1em;
	letter-spacing: 2px;
	color: #eaeaea;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0px;
	border-radius: 0px 8px 8px 0px;
	background-color: #D94738;
	border-left: solid 1px #2C3E50;
}
form button:hover{
	background-color: #F2503F;
}
form button:active{
	background-color: #B53C2F;
}
button{
	border: none;
	outline: none;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #eaeaea;
	background-color: #878c8e;
	border-radius: 18px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
button:hover{
	transition: .3s;
	color: #eaeaea;
	background-color: #E74C3C;
}
button:active{
	background-color: #B53C2F;
}
main{
	margin-left: 10px;
	margin-right: 10px;
}
img{
	margin: 6px;
}


/*class and id specific*/
.gif{
	display: inline-block;
}
.gif:hover{
	transition: .3s;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}
.gif p{
	padding-left: 6px;
	margin-bottom: 6px;
}
#buttonArea{
	margin-top: 30px;
	margin-bottom: 70px;
}
#clearDiv{
	display: none;
	margin-bottom: 30px;
	border-top: dotted 1px #999999;
	position: relative;
}
#clearBtn{
	position: absolute;
	top: -22px;

	font-weight: 600;
	color: #878c8e;

	background-color: #eaeaea;
	border: solid 2px #878c8e;
	border-radius: 10px;

	padding-left: 15px;
	padding-right: 15px;
	margin-left: 50px;
}
#clearBtn:hover{
	transition: .3s;
	color: #E74C3C;
	border: solid 2px #E74C3C;
}
#clearBtn:active{
	color: #B53C2F;
	border-color: #B53C2F;
}

